# LaTeX ignore files
*.log
*.aux

# Gummi LaTeX editor
*.bak
*.swp

# Documents folder with pdf
documentos/

# Output LaTeX presentation files
*.nav
*.out
*.snm
*.toc
*.lof
*.lot

# LibreOffice files
.~*

# Filesystem
*~

# Database
*.mysql
*.sql

# Zipped files
*.7z
*.gz

# Texlipse
.project
.texlipse

